:root{
	font-size: 10px;
	line-height: 10px;
	--font: 'Bungee Spice';
	font-weight: 400;
	--gradient: linear-gradient(180deg, rgba(253, 209, 0, 0.99) -6.98%, rgba(208, 37, 0, 0.99) 57.18%, rgba(239, 51, 6, 0.582862) 108.13%);
	--blue: #013372;
	--orange: #DF6401;
	--red: #D73A18;;
	--green: #42FF00;
}
body{
	margin: 0;
	padding: 0;
	font-family: var(--font);
	position: relative;
	top: -10px;
	background-image: url('../img/playbg.png');
	background-size: 100% 103.1vh;
	background-position: 0 -23px;
	background-repeat: no-repeat;
	overflow: hidden;
}
.left{
	display: flex;
	justify-content: space-between;
}
.left_block{
	position: relative;
	right: 100%;
	width: 500px;
	height: 103.1vh;
	background-color: var(--blue);
}
.right_click{
	position: relative;
	width: 40px;
	height: 290px;
	background-color: var(--blue);
	border-bottom-right-radius: 40px;
}
.right_click:hover + .left_block{
		right: 67.4%;
}
.right_click:hover{
	left: 500px;
}